@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "var.css";

/*components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";

/*screens*/
@import "screens/login.css";
@import "screens/user.css";

body {
  font-family: "Open Sans", sans-serif;
  height: 200vh;
  color: #2e363e;
}
