.fa-cog {
  position: relative;
}

.find-icons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon i {
  margin-bottom: 20px;
}

.recommended-friends {
  color: rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}

.recommended-friends__text {
  padding: 100px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
}

.open-chat {
  color: rgba(0, 0, 0, 0.4);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.open-chat__header :last-child {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.2);
}

.open-chat__column__text {
  padding: 20px 0px;
}
