.fa-cog {
  position: relative;
}

.find-icons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: var(--main-border);
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon i {
  margin-bottom: 20px;
}

.recommended-friends {
  color: rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}

.recommended-friends__text {
  padding: 100px 0px;
  border-bottom: var(--main-border);
  text-align: center;
}

.open-chat {
  color: rgba(0, 0, 0, 0.4);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.open-chat__header :last-child {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.2);
}

.open-chat__column__text {
  padding: 20px 0px;
  position: relative;
}

.open-chat__column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.open-chat__column__title {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.open-chat__column__text p:nth-child(2) {
  font-size: 13px;
}

.open-chat__column__text p:last-child {
  font-size: 12px;
}
.open-chat__column__text p {
  padding: 5px 0px;
}

.open-chat__picture {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.open-chat__column:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.open-chat__like {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  padding: 5px;
  border-radius: 15px;
  font-size: 12px;
  bottom: 25px;
  right: 5px;
}

.open-chat__hashtag {
  text-transform: uppercase;
}

.open-chat__small-img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-chat__column P:last-child {
  display: flex;
  align-items: center;
}

@keyframes likeanimation {
  form {
    transform: none;
  }

  to {
    color: rgb(255, 0, 0);
  }
}

.open-chat__column__text .open-chat__like:hover {
  animation: likeanimation 0.5s ease-in-out forwards;
}
